<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BLOG APPLICATIONS</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">

<head>
{%load static%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'entries/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'entries/css/blog-home.css'%}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
<!--       <div class="navbar-header">-->
<!--.custom .headerlogo {-->
<!--    width: 236px;-->
<!--    margin-left: 160px;-->
<!--    margin-top: 0px;-->
<!--    position: absolute;-->
<!--    top: 5px;-->
<!--    left: 0px;-->
<!--}-->

<!--                   <div class="sidebar-header"> <a href="index.html"><img src="{% static 'entries/image/isttl.jpg' %}" class="logo" alt="logo"></a>-->
<!--                    </div>-->
<!--               </div>-->
      <a class="navbar-brand" href="    /">E-Library</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_entry' %}">Post Now</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->

  <div class="container">

    <div class="row">

        {% block content %}
        {% endblock %}

    <div class="col-md-4">


                <!-- Side Widget -->
      <div class="card my-4">
          <h5 class="card-header text-center">Logged in Information</h5>
          <div class="card-body">
            <ul class="list-unstyled mb-0">
                <li>
                    <p> <strong>Username:</strong>{{user.username}}</p>
                </li>
                <li>
                    <p> <strong>Email:</strong> {{user.email}}</p>
                </li>
            </ul>
          </div>
        </div>


      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white border-dark">ISTT</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'entries/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'entries/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>